.newsletter-bx {
  background: #ffffff;
  border-radius: 55px;
  color: #121212;
  padding: 85px 80px;
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}
.new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}
.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}
.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}
.new-email-bx button {
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}

.socialListUl {
  position: relative;
  margin-top: 1.5rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.socialListIl {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0 30px;
  transform: rotate(-30deg) skew(25deg);
}

.socialListIl i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: 0.5s;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px !important;
}

.socialListIl:hover i:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.socialListIl:hover i:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

.socialListIl:hover i:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

.socialListIl:hover i:nth-child(2) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

.socialListIl:hover i:nth-child(1) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

.socialListIl:nth-child(1) i {
  background-color: #0072b1;
}
.socialListIl:nth-child(2) i {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.socialListIl:nth-child(3) i {
  background-color: #000;
}
